.card_style {
  cursor: pointer;
  transition: 0.3s;
}

.smalltrash {
  display: none;
}

.card_style:hover {
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.082);
}

.iteamsdetails {
  max-width: 800px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.082);
}
.items_img {
  flex: 0.4;
}
.items_img img {
  width: 20rem;
  border-radius: 5px;
}

.details {
  flex: 0.5;
}

.rating {
  background-color: green;
}

@media (max-width: 772px) {
  .iteamsdetails {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 450px) {
  .smalltrash {
    display: block;
  }
  .largetrash {
    display: none;
  }
  .emptycart_img {
    margin-right: 50px;
  }
  .smallclose {
    display: none;
  }

  /* individual iteams details */

  .items_img img {
    width: 16rem;
  }
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.user {
  border: 2px solid black;
  border-radius: 10px;
  background-color: #b3e3ff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 500px;
  height: 300px;
  margin: 20px;
}

.paginationBttns {
  width: 80%;
  height: 40px;
  margin: 30px;
  list-style: none;
  display: flex;
  justify-content: center;
}

.paginationBttns a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid #2b2eff;
  color: #2b2eff;
  cursor: pointer;
}

.paginationBttns a:hover {
  color: white;
  background-color: #2b2eff;
}

.paginationActive a {
  color: white;
  background-color: #2b2eff;
}

.paginationDisabled a {
  color: grey;
  background-color: rebeccapurple;
}
